scssphp:
    enabled: '%kernel.debug%'
    autoUpdate: '%kernel.debug%'
    # site specific
    assets:
        "css/base.css":
            src: "public/assets/scss/base.scss"
            sourceMap: false
            # Array of import paths, relative to Symfony's project directory.
            importPaths:
                - "sites/%app.site.key%/assets/scss"   # theme-specific settings come first
                - "assets/scss"                        # generic fall-back
        "css/print.css":
            src: "public/assets/scss/print.scss"
            sourceMap: false
            # Array of import paths, relative to Symfony's project directory.
            importPaths:
                - "sites/%app.site.key%/assets/scss"   # theme-specific settings come first
                - "assets/scss"                        # generic fall-back

when@prod:
    scssphp:
        enabled: false
        autoUpdate: false
