{% extends 'Base/base.html.twig' %}

{% import 'Shared/about.html.twig' as about %}

{% block maincontainer %}
<main role="main" class="about">
{% block body %}
<section class="top banner">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1>{{ parts.title }}</h1>
            </div>
        </div><!-- .row -->
    </div><!-- .container -->
</section><!-- .section -->
<section>
    <div class="container">
        <div class="row">
            <div class="col col-lg-10">
                {{ about.breadcrumb(true) }}
            </div>
        </div>
        <div class="row">
            {{ about.sub_nav('col-md-3 col-lg-2 offset-lg-1 order-md-last') }}
            <article class="content introduction col-md-9 col-lg-8">
                {{ parts.body|raw }}
            </article>
        </div><!-- .row -->
    </div>
</section>
{% endblock %}
</main>
{% endblock %}
