{% extends 'Base/base.html.twig' %}

{% import 'Shared/about.html.twig' as about %}

{% block body %}
    <div class="row">
        {{ about.sub_nav() }}

        <div class="col-lg-10">
            <article>
            <h1>Terms and Conditions</h1>
            
            <h2 id="conditions">Conditions of Use</h2>
            <p>
                The primary-source materials reproduced in <i>German History Intersections</i> are intended for individual, academic, educational, and non-commercial use. Each source is fully attributed and includes a DOI and a recommended citation for use in referencing the project in academic books and articles, term papers, and student assignments in either printed or digital form.
            </p>

            <h2 id="copyright">Notice on Copyright</h2>
            <p>
                German History Intersections includes hundreds of individual primary sources (i.e. original texts, translations, images, audiovisual files) of varying ownership and copyright status. Many sources are in the public domain; others are under copyright protection. In some cases, the status is unclear; in other cases, the copyright holders could not be identified or reached. In each instance, the Intersections project staff has done its best to determine the copyright status of the source and to contact the relevant parties. Questions or concerns about materials published in Intersections should be directed to <a href="mailto:intersections@ghi-dc.org">intersections@ghi-dc.org</a>.
            </p>
            <p>
                The <i>Intersections</i> staff has attempted to provide full attribution for each primary source included in the project. Likewise, the staff has endeavored to include copyright information for all materials, including those in the public domain. If you are interested in republishing copyrighted source materials in a book, article, website, or other format, please make direct contact with the relevant rightsholder (e.g. author, publisher, museum, etc.). The German Historical Institute, Washington DC, cannot grant reprint permission in instances when the copyright is held by others.
            </p>
            <p>
                All module introductions, source commentaries, and editorial texts featured in <i>Intersections</i> were written expressly for the project and are licensed under a <a href="https://creativecommons.org/licenses/by-nc-nd/4.0/" target="_blank">Creative Commons Attribution-NonCommercial-NoDerivatives 4.0 International License (CC BY-NC-ND 4.0).</a> This license allows for these texts to be republished (in unaltered form and with proper attribution) for academic and/or non-commercial purposes. English-language translations commissioned by the GHI of German-language documents in the public domain are also licensed under CC BY-NC-ND 4.0. Please use the recommended citation as a guide when republishing these translations.
            </p>

            <h2 id="contact">Contact</h2>
            <p>
                If you have questions or suggestions pertaining to <i>German History Intersections</i>, please contact us at <a href="mailto:intersections@ghi-dc.org">intersections@ghi-dc.org</a>.
            </p>

            <h2 id="imprint">Imprint</h2>
            <p>
                German Historical Institute<br />
                1607 New Hampshire Ave NW<br />
                Washington, DC 20009-2562<br />
                U.S.A.
            </p>
            <p>
                Phone: +1.202.387.3355<br />
                <a href="mailto:info@ghi-dc.org">info@ghi-dc.org</a><br />
                <a href="https://www.ghi-dc.org/">www.ghi-dc.org</a>
            </p>

            <p>
                Authorized persons<br />
                Simone Lässig, Director<br />
                Axel Jansen, Deputy Director<br />
                Anne Kadolph, Administrative Director
            </p>

            <h2 id="data-protection">Data Protection</h2>
            <p>
                This is an online-service of the German Historical Institute. The general data protection declaration of the GHI applies to the processing of all personal data arising in the course of the operation of this site.
            </p>

            <h2>Liability for Links</h2>
            <p>
                Our site contains links to external websites, over which we have no influence. Therefore we can not accept any liability for this external content. The respective provider or operator of the websites is always responsible for the content of these pages. The linked pages were inspected for possible violations of law at the time of the placing of the link. Illegal contents were not apparent when the link was created. Continuous monitoring of the contents of the linked web pages is not plausible where there is no actual indication of an infringement of the law. Upon notification of violations, we will remove such links immediately.
            </p>
            </article>
        </div>
    </div><!-- .row -->





















{% endblock %}