/*
 * additional site specific styles, currently here for ghis
 */

/* sticky footer, see https://gist.github.com/seyDoggy/e919a429b2459aedf509 */
/* TODO: switch to flex as in GHDI */
html, body {
    height: 100%;
    width: 100%;
}

body {
    display: table;
}

main {
    height: auto;
    margin-bottom: 4rem;
}

footer {
    display: table-row;
    height: 1px;
}

#logo {
    width: $logo-width;
    height: auto;

    @media (min-width: $screen-sm-min) {
        margin-left: -14px; /* remove left navbar padding so it is aligned with container */
    }
}

ul#navbar-about-locale li {
    text-transform: uppercase;

    a {
        color: $color-gray-dark;
        &:hover {
            color: $color-color-link;
        }
    }

    &.current {
        font-weight: bold;
        a, a:hover {
            color: $color-color-link;
        }
    }
}

#notice {
    background-color: $color-gray-light;

    #closer {
        margin-left: 12px;
        display: inline-block;
        text-decoration: none;
    }
}

footer {
    background-color: $color-gray-light;

    .row {
        padding-top: 2rem;
        padding-bottom: 2rem;
    }

    a {
        color: $color-gray-dark;
        &:hover {
            color: $color-color-link;
        }
    }

    @media only screen and (max-width: $screen-sm-min - 1px) {
        #logo-ghi {
            margin-left: 0;
        }

        .terms {
            margin-top: 1rem;
            li {
                display: inline-block;
                padding-right: 1em;
            }
        }
    }
}

ul#menu-volumes li {
    font-weight: bold;
    text-transform: uppercase;

    a {
        color: $color-color-spot;
        &:hover {
            text-decoration: none;
        }
    }

    &.volume-1 a:hover {
        color: $color-volume-1;
    }
    &.volume-2 a:hover {
        color: $color-volume-2;
    }
    &.volume-3 a:hover {
        color: $color-volume-3;
    }
}

/* override bootstrap style */
.breadcrumb {
    background-color: inherit;
    padding: 0;

    &.p-2 {
        padding-left: 0 !important;
    }

    li {
        text-transform: uppercase;
        color: $color-gray-dark;
        font-size: 1rem;

        &:not(:first-child):before {
            margin-left: 0.3rem;
            content: '/';
            margin-right: 0.3rem;
        }
    }
}

body.volume-1 {
    ul#menu-volumes li.volume-1 a {
        color: $color-volume-1;
    }
}
body.volume-2 {
    ul#menu-volumes li.volume-2 a {
        color: $color-volume-2;
    }
}
body.volume-3 {
    ul#menu-volumes li.volume-3 a {
        color: $color-volume-3;
    }
}

/* colored links */
.volume-1 {
    article a
    {
        color: $color-volume-1;
    }
}
.volume-2 {
    article a
    {
        color: $color-volume-2;
    }
}
.volume-3 {
    article a
    {
        color: $color-volume-3;
    }
}

/* route-specific styles */
body.route-home {
    main > .row > .container {
        padding-left: $logo-indent-text + 15px; /* increase left padding in order to align below text */
    }

    .row.section {
        padding-top: 3rem;
        padding-bottom: 2rem;

        .btn.btn-primary {
            background-color: inherit;
            border-radius: 0;
            border: 1px solid white;
            text-transform: uppercase;
            min-width: 20rem;
        }
    }

    .row > .volume-teaser {
        position: relative;
        height: 215px;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        .overlay {
            position: absolute;
            padding: 16px;
            height: 40%;
            width: 100%;
            bottom: 0;
            background-color: gray;
            background: rgba(0, 0, 0, 0.3);
            h4 {
                font-weight: bold;
                a {
                    color: white;
                    opacity: 1;
                    .octicon {
                        fill: white;
                    }
                }
            }
        }
    }

    .row.volumes {
        padding-top: 1rem;
        h5 {
            font-weight: bold;
            font-size: 1rem;
            display: inline;
            &::after {
                content: " \2014 "
            }
            a {
                color: $color-color-spot;
            }
        }
    }

    .row.focus {
        a {
            color: $color-gray-dark;
            &:hover {
                color: $color-color-link;
            }
        }

        img.focus {
            width: 100%;
            height: auto;

            @media (min-width: $screen-sm-min) {
                position: absolute;
                z-index: 1;
                padding-right: 24px;
            }
        }

        blockquote {
            position: relative;
            background-color: $color-gray-light;
            margin-top: 3.6rem;
            margin-left: -4rem;
            padding-left: 6.5rem;
            padding-top: 2rem;
            padding-right: 1rem;

            &::before {
                content: "\201C";
                color: $color-color-spot;
                font-size: 6rem;
                position: absolute;
                left: 4rem;
                top: -1rem;
            }
        }
    }

    h3 {
        border-top: 1px solid;
        padding-top: 1rem;
        margin-bottom: 1.4rem;
    }

    .row.color-inverse h3 {
        color: white;
    }
}

/* volume, section and introduction with background image */
main.volume, main.section, main.introduction {
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: center top;

    .row.margin-top {
        margin-top: 2rem;
    }

    .row.top > .container {
        margin-top: 10rem;
        background-color: white;
        border-top: 8px solid $color-color-spot;
        padding-top: $logo-indent-text;
        padding-left: $logo-indent-text + 15px;
        padding-right: $logo-indent-text + 15px;
    }

    .row .indent {
        @include indent-text();
    }

    .btn.btn-primary {
        padding-top: 0;
        padding-bottom: 0;
        background-color: inherit;
        border-radius: 0;
        border: 1px solid $color-color-spot;
        color: $color-color-spot;
        font-weight: bold;
    }

    &.volume-1 .row.top > .container {
        border-top: 8px solid $color-volume-1;

        .btn.btn-primary {
            border: 1px solid $color-volume-1;
            color: $color-volume-1;
        }

        a {
            color: $color-volume-1;
        }
    }

    &.volume-2 .row.top > .container {
        border-top: 8px solid $color-volume-2;

        .btn.btn-primary {
            border: 1px solid $color-volume-2;
            color: $color-volume-2;
        }

        a {
            color: $color-volume-2;
        }
    }

    &.volume-3 .row.top > .container {
        border-top: 8px solid $color-volume-3;

        .btn.btn-primary {
            border: 1px solid $color-volume-3;
            color: $color-volume-3;
        }

        a {
            color: $color-volume-3;
        }
    }

    h1 {
        text-transform: uppercase;
    }

    h2 {
        color: $color-color-spot;

        &::before {
            @include header-line-above($color-color-spot);
        }
    }

    .section, .resource {
        margin-bottom: 2rem;
        .square {
            width: 8rem;
            min-height: 8rem;
            background-color: gray;
            flex-shrink: 0;
        }
        .label {
            min-height: 8rem;
            background-color: $color-gray-light;
            flex-grow: 1;
            padding: 2rem;
        }
    }

    .section > .square {
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
}

main.section {
    ol {
        li.resource {
            counter-increment: item;
            display: block;
            font-size: 1rem;

            .label {
                position: relative;
                padding: 1rem;
                padding-left: 45px;

                &:before {
                    content: counter(item)".";
                    display: block;
                    float: left;
                    width: 24px;
                    font-weight: bold;
                    margin-left: -35px;
                    text-align: center;
                }

                .icn {
                    position: absolute;
                    bottom: 10px;
                    left: 15px;
                    color: #b6b6b6;
                }
            }
        }
    }

    ol.section-navigation {
        // line above, see https://stackoverflow.com/a/46535160
        position: relative;

        &::after {
            content: "";
            display: block;
            border-top: 1px solid $color-color-spot;
            position: absolute;
            top: -5px;
            left: 15px;
            right: 15px;
        }
    }
}

article {
    &.introduction {
        h2 {
            &.source-description-head, &.source-head {
                display: none;
            }

            text-transform: none;
            color: $color-body-text;

            &::before {
                @include header-line-above($color-body-text);
            }
        }

        .article {
            @include indent-text();
        }

        .source-description, .source-citation {
            margin-top: 4rem;
        }
    }
}

aside {
    @media only screen and (min-width: $screen-lg-min) {
        margin-top: 5rem;
    }

    h4 {
        font-size: 1rem;
        letter-spacing: 0.05em;
        text-transform: uppercase;
        font-weight: bold;
        color: $color-color-spot;
    }

    ul.tag-list {
        list-style: none;
        padding: .5em 0 0 0;

        li {
            display: inline-block;
            padding: .5em .9em .6em .9em;
            margin: 0 .25em .5em 0;
            background-color: #fff;
        }
    }
}

#main-wrapper.resource, #main-wrapper.search {
    &::before {
        content: '';
        display: block;
        height: 160px;
        background-color: $color-gray-light;
    }

    background: linear-gradient(90deg, #fff, #fff 50%, $color-gray-light 50%, $color-gray-light);

    main {
        background-color: white;
        margin-top: -124px;
        margin-bottom: 0;

        .article-wrapper {
            background-color: $color-gray-light;
        }

        article, div.content {
            padding-left: $logo-indent-text + 15px;
            padding-top: $logo-indent-text + 15px;
            padding-right: 30px;

            background-color: white;

            &.volume-1 {
                border-top: 8px solid $color-volume-1;
            }
            &.volume-2 {
                border-top: 8px solid $color-volume-2;
            }
            &.volume-3 {
                border-top: 8px solid $color-volume-3;
            }

            h2.source-description-head, h2.source-head {
                margin: 0 0 .5rem 0;
                padding-top: 1.5em;
                font-size: 1rem;
                letter-spacing: 0.05em;
                position: relative;

                &::before {
                    content: '';
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: calc(55.999999% - 15px);
                    display: block;
                    border-bottom: 1px solid $color-color-spot;
                }
            }

            h2.source-head {
                margin-bottom: 2rem;
            }

            .source-description {
                padding-left: 22.888888%;
                /* color: $color-gray-dark; */
                margin-bottom: 1.5rem;
            }
        }
    }
}

.route-about,
.route-about-working-groups,
.route-about-migration,
.route-about-knowledge-and-education,
.route-about-germanness,
.route-about-editors,
.route-about-team,
.route-terms,
.error
{
    #main-wrapper {
        &::before {
            content: '';
            display: block;
            height: 160px;
            background-color: $color-color-spot;
        }

        main {
            margin-top: -124px;

            > .row {
                background-color: white;
                padding-left: $logo-indent-text;
                padding-top: $logo-indent-text;

                article, .article {
                    @include indent-text();

                    @include dta-styles();
                }
            }

            h2 {
                &.source-head {
                    display: none;
                }

                position: relative;
                margin-top: 2rem;
                padding-top: 0.5rem;

                // font-weight: bold;
                line-height: 1.2;
                color: $color-color-spot;
                text-transform: uppercase;
                letter-spacing: 0.01em;

                &::before {
                    width: calc(50% - 15px);
                    content: '';
                    position: absolute;
                    top: 0;
                    left: 0;
                    display: block;
                    border-top: 1px solid $color-color-spot;
               }
            }

            h3 {
              margin-top: 1rem;
            }

            ul.sub-nav {
                padding-left: 0;

                font-weight: bold;
                li {
                    margin-bottom: 0.75rem;

                    a {
                        display: block;
                        padding-left: 7px;
                        border-left: 3px solid transparent;
                        transition: padding .35s ease;
                    }

                    &.current a, a:hover {
                        border-left: 3px solid $color-color-link;
                    }
                }

                @media only screen and (max-width: $screen-lg-min - 1px) {
                    li {
                        display: inline-block;
                        margin: 0 1.5rem 0 0;
                    }
                }
            }
        }
    }
}

.route-search {
    .search-entry {
        &.volume-1 .path a.volume {
           color: $color-volume-1;
        }
        &.volume-2 .path a.volume {
           color: $color-volume-2;
        }
        &.volume-3 .path a.volume {
           color: $color-volume-3;
        }

        a {
            h3 {
                /* source type icons */
                &::before {
                    content: '';
                    font-size: 16px;
                    font-family: 'ghi_icons_16';
                    font-size: 16px;
                    font-weight: normal;
                    color: #b6b6b6;
                    display: block;
                    float: left;
                    margin-left: -30px;
                }

                &.document::before {
                    content: '\e901';
                }
                &.image::before {
                    content: '\e902';
                }
                &.audio::before {
                    content: '\e903';
                }
                &.video::before {
                    content: '\e904';
                }
            }
        }

        blockquote {
            padding-top: 0.4rem;
            margin-bottom: 0;
            font-style: italic;
            color: $color-gray-dark;
            .highlight {
                font-weight: bold;
            }
        }
    }
}

/* profile pictures */
.route-about-migration,
.route-about-knowledge-and-education,
.route-about-germanness
{
    #main-wrapper {
        h2 {
            clear: both;
        }

        img {
            float: left;
            max-width: 20%;
            @media only screen and (min-width: $screen-lg-min) {
                margin-left: -26%;
            }
            padding-right: 1em;
            padding-bottom: 1em;
        }
    }
}
