$color-color-spot: #0F256E;
$color-color-link: #276CEA;
$color-body-text: #212529; // currently same as default in reboot
$color-background-spot: #F4F4F4;

$color-gray-light: #F4F4F4;
$color-gray-dark: #616161;

$color-volume-1: #5D349E;
$color-volume-2: #00935d;
$color-volume-3: rgb(240, 96, 14);
