/*
 * Google Fonts uses Lato 1. For version 2 switch to Adobe Typekit
 *  https://fonts.adobe.com/fonts/lato
 * or download a local copy from
 *  http://www.latofonts.com/lato-free-fonts/
 *
 * If you want to tweak the @font-face settings, you might use something like
 *  @import 'font/Lato';
 * instead.
 *
 */

/*
@import url('https://fonts.googleapis.com/css?family=Lato:400,400i,700,700i&display=swap&subset=latin-ext');
*/

// locally hosted, generated through https://google-webfonts-helper.herokuapp.com/fonts/lato?subsets=latin,latin-ext

/* lato-regular - latin-ext_latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: url('./fonts/lato-v23-latin-ext_latin-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('./fonts/lato-v23-latin-ext_latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('./fonts/lato-v23-latin-ext_latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('./fonts/lato-v23-latin-ext_latin-regular.woff') format('woff'), /* Modern Browsers */
       url('./fonts/lato-v23-latin-ext_latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('./fonts/lato-v23-latin-ext_latin-regular.svg#Lato') format('svg'); /* Legacy iOS */
}

/* lato-italic - latin-ext_latin */
@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 400;
  src: url('./fonts/lato-v23-latin-ext_latin-italic.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('./fonts/lato-v23-latin-ext_latin-italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('./fonts/lato-v23-latin-ext_latin-italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('./fonts/lato-v23-latin-ext_latin-italic.woff') format('woff'), /* Modern Browsers */
       url('./fonts/lato-v23-latin-ext_latin-italic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('./fonts/lato-v23-latin-ext_latin-italic.svg#Lato') format('svg'); /* Legacy iOS */
}

/* lato-700 - latin-ext_latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  src: url('./fonts/lato-v23-latin-ext_latin-700.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('./fonts/lato-v23-latin-ext_latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('./fonts/lato-v23-latin-ext_latin-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('./fonts/lato-v23-latin-ext_latin-700.woff') format('woff'), /* Modern Browsers */
       url('./fonts/lato-v23-latin-ext_latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('./fonts/lato-v23-latin-ext_latin-700.svg#Lato') format('svg'); /* Legacy iOS */
}

/* lato-700italic - latin-ext_latin */
@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 700;
  src: url('./fonts/lato-v23-latin-ext_latin-700italic.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('./fonts/lato-v23-latin-ext_latin-700italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('./fonts/lato-v23-latin-ext_latin-700italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('./fonts/lato-v23-latin-ext_latin-700italic.woff') format('woff'), /* Modern Browsers */
       url('./fonts/lato-v23-latin-ext_latin-700italic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('./fonts/lato-v23-latin-ext_latin-700italic.svg#Lato') format('svg'); /* Legacy iOS */
}

$font-stack-sans: 'Lato', Arial, "Arial Unicode MS", sans-serif;
$font-stack-sans-combining: Arial, "Arial Unicode MS", sans-serif;
$font-stack-pdf: 'pdffont'; /* set this in services.yaml */

/* Icons */
@font-face {
    font-family: 'ghi_icons_16';
    src:  url('../fonts/ghi_icons_16.eot?7vfwjk');
    src:  url('../fonts/ghi_icons_16.eot?7vfwjk#iefix') format('embedded-opentype'),
        url('../fonts/ghi_icons_16.ttf?7vfwjk') format('truetype'),
        url('../fonts/ghi_icons_16.woff?7vfwjk') format('woff'),
        url('../fonts/ghi_icons_16.svg?7vfwjk#ghi_icons_16') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

.icn {
    font-family: 'ghi_icons_16';
    font-size: 16px;
    font-style: normal;

    &.icn-document::after {
        content: "\E901";
    }

    &.icn-image::after {
        content: "\E902";
    }

    &.icn-audio::after {
        content: "\E903";
    }

    &.icn-video::after {
        content: "\E904";
    }
}
