$color-color-spot: #0F256E;
$color-color-link: #276CEA;
$color-title-spot: #D0182C;
$color-background-spot: #B2B197;
$color-body-text: #212529; // currently same as default in reboot
$color-color-highlight: #FBF27D;

$color-gray-ultralight: #F6F6F2;
$color-gray-light: #EDEDE5;
$color-gray-medium: #818181;
$color-gray-dark: #212529
