$color-color-spot: #0F256E;
$color-color-link: #276CEA;
$color-body-text: #212529; // currently same as default in reboot
$color-background-spot: #B2B197;

$color-gray-light: #EDEDE5;
$color-gray-dark: #616161;

$color-volume-1: $color-color-spot;
$color-volume-2: $color-color-spot;
$color-volume-3: $color-color-spot;
