/*
 * Source Sans Pro
 */
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,400i,700,700i&display=swap&subset=latin-ext');

$font-stack-sans: 'Source Sans Pro', Arial, "Arial Unicode MS", sans-serif;
$font-stack-sans-combining: Arial, "Arial Unicode MS", sans-serif;
$font-stack-pdf: 'sourcesanspro'; /* set this in services.yaml */

@font-face {
    font-family: 'icomoon';
    src:  url('../fonts/icomoon.eot?7vfwjk');
    src:  url('../fonts/icomoon.eot?7vfwjk#iefix') format('embedded-opentype'),
        url('../fonts/icomoon.ttf?7vfwjk') format('truetype'),
        url('../fonts/icomoon?7vfwjk') format('woff'),
        url('../fonts/icomoon?7vfwjk#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

.icn {
    font-family: 'icomoon';
    font-size: 16px;
    font-style: normal;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    &.icn-document::after {
        content: "\E914";
    }

    &.icn-image::after {
        content: "\E913";
    }

    &.icn-audio::after {
        content: "\E912";
    }

    &.icn-video::after {
        content: "\E908";
    }
}
