/*
 * Setup $font-stack-sans and $font-stack-sans-combining
 * including font-face definitions
 */
@import 'font-definition.scss';

/*
 * Setup $color-* variables
 */
@import 'color-definition.scss';

@import 'sizes.scss';

@mixin header-line-above($color) {
    display: block;
    content: ' ';
    width: calc(50% - 15px);
    margin-top: 2rem;
    border-bottom: 1px solid $color;
    margin-bottom: 1rem;
}

@mixin indent-text() {
    @media only screen and (min-width: $screen-lg-min) {
        padding-left: 20.666666%;

        h1, h2 {
            margin-left: -26%;
        }
    }
}

@mixin dta-styles {
        /* .head  { text-align:center; font-size:1.2em; margin-top:1em }
        .dta-head  { text-align:center; font-size:1.2em; margin-bottom:.5em } */

        .fw-top          { text-align:center; margin-bottom:2em; color:#666 }
        .fw-pageNum      { display:none }
        .fw-bottom-sig   { margin-top:1em; font-size:.8em; color:#666 }
        .fw-bottom-catch { text-align:right; margin-top:1em; margin-right:1em; font-size:.8em; color:#666 }

        /* quote mess */
        blockquote:before, blockquote:after, q:before, q:after {
          /* see http://www.paulchaplin.com/blog/css-reset-and-quirky-quotes */
          content:""; content:none;
        }

        /* place holders */
        .ph, .phbl { color:#666 }
        .phbl      { display:block; text-align:center }

        .titlepage   { text-align:center }
        .byline      { font-size:.9em; margin:1em 0 }
        .dta-anzeige { color:#aaa }
        .dedication  { padding-left:2em }

        .footnote       { color:#333; font-size:.8em; margin-top:.5em; margin-left:1em }
        .endnote        { color:#333; font-size:.8em; margin-top:.5em; margin-bottom:.5em }
        .endnote-indent { text-indent:1em }
        .fn-intext { vertical-align:super; font-size:.8em }
        .fn-sign { vertical-align:super; font-size:.8em }

        .dta-marginal {
            display: block;
            color: #666;
        }
        /* mpdf doesn't like combined classes, so put into separate rule */
        .dta-marginal-left {
            margin-left: -10px;
        }

        .dta-argument { text-align:center; font-size:.9em }

        .dta-cb { font-size:.8em; color:#666; text-align:center; display:block; margin:5px }

        .poem       { padding-left:2em; margin-bottom:1em }
        .dta-salute { margin-top:1em; display:inline }
        .speaker    { font-weight:bold }
        .stage      { font-style:italic; font-size:.9em }
        .stage .c   { font-style:italic; font-size:.9em }
        div.stage   { margin-bottom:.5em }

        div.dta-figure { /* font-size:.9em; */ margin-top:1rem; margin-bottom:0.8rem }
        div.dta-figure p { margin-left:1em; display: block; }
        .dta-figure img { margin-bottom:0.2rem }

        .titlepart           { font-size:1em }
        .titlepart-main      { margin-bottom:1em; font-size:1.6em }
        .titlepart-volume    { font-size:1em }
        .titlepart-edition   { font-size:1em }
        .titlepart-copyright { font-size:1em }
        .titlepart-desc      { font-size:1em }
        .titlepart-sub       { font-size:1.3em; margin-bottom:.5em }

        .docauthor { font-size:1em; margin-bottom:.5em }

        .gap       { color:#666 }

        /* dbu - remove
        .dta-foreign { color:#666 }
        .dta-foreign:before { content:"[" }
        .dta-foreign:after { content:"]" }
        */

        .dta-corr { border-bottom:dotted 2px #97002d }
        .dta-reg  { border-bottom:dotted 2px #2d9700 }
        .dta-abbr { border-bottom:dotted 2px #002D97 }
        .dta-supplied { color:#2D9700 }

        /* dramae */
        .dta-sp    { margin-bottom:1em }
        .dta-in-sp { display:inline }
        .dta-actor { float:right }

        /* lb @n */
        .dta-lb-n { float:right }

        /* renditions inline */
        .aq, span.dta-aq       { font-family:sans-serif }
        .b, span.dta-b { font-weight:bold }
        .blue, span.dta-blue     { color:blue }
        .fr, span.dta-fr       { border:1px dotted silver }
        .g, span.dta-g        { letter-spacing:0.125em }
        .g:before, span.dta-g:before { content:''; margin-left:0.125em }
        .g:after, span.dta-g:after  { content:''; margin-right:0em }
        .i, span.dta-i { font-style:italic }
        /*.in       { font-size:150% } */
        .k, span.dta-k        { font-variant:small-caps }
        .larger, span.dta-larger   { font-size:larger }
        .red, span.dta-red      { color:red }
        .s, span.dta-s        { text-decoration: line-through }
        .smaller, span.dta-smaller  { font-size:smaller }
        .sub, span.dta-sub      { vertical-align:sub; font-size:.7rem }
        .sup, span.dta-sup      { vertical-align:super; font-size:.7rem }
        .u, span.dta-u        { text-decoration:underline }
        .uu, span.dta-uu       { border-bottom:double 3px #000 }

        /* renditions block */
        /* Note: mpdf ignores display:block, so xsl must be adjusted to generate div instead of span */
        .dta-c, .c     { display:block; text-align:center }
        .et    { display:block; margin-left:2em; text-indent:0 }
        .et2   { display:block; margin-left:4em; text-indent:0 }
        .et3   { display:block; margin-left:6em; text-indent:0 }
        .dta-in-sp .et { display:inline; text-indent:2em }
        .right, .dta-right { display:block; text-align:right }
        .cw    { text-align:right }

        /* cast lists */
        table.dta-castgroup { border-collapse:collapse; border-spacing:0; margin:0; width:100% }
        td.castitem         { border-right:1px solid #333; padding-right:10px; padding-left:0; padding-bottom:5px }
        .castitem           { margin-bottom:5px }
        td.roledesc         { vertical-align:middle; padding-left:5px }

        /* tables */
        .dta-table      { margin-top:0; margin-bottom: 1rem; /* margin-left:auto; margin-right:auto; background:#fff;*/  border-collapse:collapse }
        .dta-table th   { vertical-align:top; border:1px solid #ccc; padding:3px }
        .dta-table td   { vertical-align:top; border:1px solid #ccc; padding:3px }
        caption h1,
        caption h2,
        caption h3,
        caption h4,
        caption h5,
        caption h6 { font-size:1em; white-space:nowrap; padding-bottom:5px }

        /* lists */
        /* ul.dta    { list-style-type:none; padding-left:2em }
        ul.dta li { margin-bottom:3px }
        .dta-bibl { font-size:.9em } */

        .dta-columntext { white-space:normal }
        .dta-columntext td { padding-left:10px; padding-right:2em }

        table.list          { border-collapse:collapse; border-spacing:0; margin:0 }
        td.item-right       { border-left:1px solid #333; padding-right:10px; padding-left:0; padding-bottom:5px; padding-left:2em }
        td.item-left        { border-right:1px solid #333; padding-right:10px; padding-left:0; padding-bottom:5px; padding-left:2em }
        td.dta-list-trailer { vertical-align:middle; padding-left:5px; text-indent:0 !important }
        td.dta-list-head    { vertical-align:middle; padding-right:2em }
        .dta-list           { padding-left:2em; margin-bottom:1em }
        .dta-list-item      { text-indent:-1em; margin-bottom:.5em }
        .dta-list-item-noindent { text-indent:0em; margin-bottom:.5em !important }
        .dta-list-item table { text-indent:0em }
        .dta-list-item {
            & p {
                display: inline;
            }
            &:before { content: "-"; padding-right:7px; }
        }

        .dta-lg             { margin-bottom:1em }

        /* all things brace ... */
        .braced-base       { display:inline-block; vertical-align:middle; padding:0 5px 0 5px }
        p .braced-base     { text-indent:0 !important }
        .braced-left-right { border-left:1px solid #333; border-right:1px solid #333; margin-left:1em }
        .braced-left       { border-left:1px solid #333; margin-left:1em }
        .braced-right      { border-right:1px solid #333 }
        .braced-base .dta-list-item { text-indent:0; margin-bottom:0 }

        .dta-pb { color:#666; font-size:.9em }

        /* .dta-p { text-indent:1em; margin:0px 0 }
        p {
          -webkit-margin-before: 0em;
          -webkit-margin-after: 0em;
          -webkit-margin-start: 0px;
          -webkit-margin-end: 0px;
        }
        */

        .dta-figure {
            p.dta-p {
                font-size: 14px;
            }

            img.image-responsive,
            img.image-responsive-svg[src$=".svg"]
            {
                width: 100%;
                height: auto;
            }
        }
}


/* general styles */
html {
    font-size: 14px;  /* use bootstrap 3 sizes: 14px instead of 16px */
    color: $color-body-text;
}

body {
    font-family: $font-stack-sans;

    .combining {
        font-family: $font-stack-sans-combining;
        font-size: 95%;
    }

    a, a:hover {
        color: $color-color-link;
  }
}

/* see https://github.com/mnater/Hyphenopoly */
.hyphens-auto {
    hyphens: auto;
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
}

.color-inverse {
    color: white;
    background-color: $color-color-spot;
}

/* == $grid-breakpoints
 * see https://github.com/twbs/bootstrap/blob/master/scss/_variables.scss
 */
$screen-sm-min: 576px;
$screen-md-min: 768px;
$screen-lg-min: 992px;
$screen-xl-min: 1200px;

// So media queries don't overlap when required, provide a maximum
$screen-xs-max:              ($screen-sm-min - 1) !default;
$screen-sm-max:              ($screen-md-min - 1) !default;
$screen-md-max:              ($screen-lg-min - 1) !default;
$screen-lg-max:              ($screen-xl-min - 1) !default;


#logo-ghi {
    margin-top: 0.4rem;
    margin-left: $logo-indent-text;
}

@media print {
    /* http://drupal.stackexchange.com/a/59908*/
    a[href]:after {
        content: none;
    }
}

/* general styles */
main {
    h1 {
        margin-bottom: 1rem;
        font-size: 2.375rem;
        font-weight: bold;
        line-height: 1.2;
        color: $color-color-spot;
        letter-spacing: 0.01em;
    }

    h2 {
        text-transform: uppercase;
        font-size: 1.75rem;
        font-weight: bold;
        color: $color-color-spot;
    }
}

a.print-view {
    white-space: nowrap;
    text-transform: uppercase;
    color: $color-gray-dark !important;
    font-size: 1rem;
    &::after {
        background: url('../img/pdf.png') no-repeat;
        background-size: contain;
        background-position: center top;
        content: "";
        display: inline-block;
        width: 15px;
        height: 16px;
        margin-left: 4px;
    }
}

article, div.content, section.banner {
    @include dta-styles();

    /* adjust sup in h1 */
    h1 span.dta-sup {
        font-size: 1.67rem;
    }
}

article, .article-part {
    ul#authors {
        list-style: none;
        padding-left: 0;
        > li {
            display: inline;
            &:not(:last-child):after {
                content: ', ';
            }
        }
    }

    h3.dta-head {
        line-height: 1.5rem;
        font-size: 1.125rem;
        font-weight: bold;
    }

    h4.dta-head {
        line-height: 1.5rem;
        font-size: 1.125rem;
    }

    h3#notes {
        font-size: 1rem;
        text-transform: uppercase;
        font-weight: bold;
    }

    .carousel {
        /* since this is unwrapped from p, add the same margin as for p */
        margin-bottom: 1rem;
    }

    .source-citation {
        margin-top: 4rem;
        & + .source-citation {
            /* bring second one, e.g. translation, closer up */
            margin-top: 2rem;
        }
    }

    a {
        /* break long URLs
         * overflow-wrap: anywhere isn't supported in Safari yet
         */
        overflow-wrap: break-word;
        word-wrap: break-word;
        word-break: break-word;
    }

    .article.image {
        .carousel-text {
            p.dta-p:first-of-type {
                /* prepend a margin above transcript in carousel */
                margin-top: 1rem;
            }

            p.dta-p:last-of-type {
                /* append a margin below transcript in carousel for indicators not to overlap */
                margin-bottom: 3rem;
            }
        }

        .source-citation {
            /* no top-margin for .source-citation below image */
            margin-top: 0rem;
            & + .source-citation {
                /* bring second one, e.g. translation, closer up */
                margin-top: 2rem;
            }
        }

        /* but set regular space if there is a transcript before */
        p.dta-p + p.dta-p + .source-citation {
            margin-top: 4rem;
        }
    }

    img {
        max-width: 100%;
    }

    #bottom-information {
        margin-top: 1rem;
    }

    .card {
        border-left: none;
        border-right: none;

        background-color: inherit; /* override bootstrap style */

        .card-header {
            padding-left: 0;
            background-color: inherit;
            h2 {
                position: relative;
                text-transform: uppercase;
                font-weight: bold;
                color: $color-gray-dark;
                font-size: 1rem;

                &::after {
                    content: '';
                    display: block;
                    width: 12px;
                    height: 12px;
                    border: 4px solid #707070;
                    border-top-width: 4px;
                    border-right-width: 4px;
                    border-bottom-width: 4px;
                    border-left-width: 4px;
                    border-width: 4px 4px 0 0;
                    float: right;
                    position: relative;

                    // arrow up
                    top: 0px;
                    transform: rotate(135deg);
                }

                &[aria-expanded="true"]::after {
                    // arrow down
                    top: 4px;
                    transform: rotate(-45deg);
                }
            }
        }

        .card-body {
            padding-left: 22.888888%;
        }
    }

    .resource-navigation {
        position: sticky;
        bottom: 0;
        background-color: white;
        margin-top: 2rem;
        border-top: 1px solid $color-color-spot;
        .p-2 {
            max-width: 50%;
        }
    }
}

/* route-specific styles */
.route-search {
    main {
        input, button {
            border: none;
            border-radius: 0;
            background-color: $color-gray-light;
            &:focus {
                background-color: $color-gray-light;
                box-shadow: none;
                -moz-box-shadow: none;
                -webkit-box-shadow: none;
            }
        }
    }

    .summary {
        margin-top: 2rem;
        margin-bottom: 1rem;
        font-style: italic;
    }

    .search-entry {
        border-top: 1px solid #e4e4e4;
        margin: 0 0 .5rem 0;
        padding: 0 0 20px 30px;
        a {
            color: $color-body-text;
            h3 {
                margin: 1rem 0 .5rem 0;
                font-size: 1.125rem;
                font-weight: bold;
                line-height: 1.2;
            }
        }
    }

    aside {
        h2 {
          font-size: 1.125rem;
        }
        li.active a {
            font-weight: bold;
        }
    }
}

/* additional site specific styles */
@import 'additional.scss';
